source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

nuget Expecto ~> 9.0
nuget Expecto.FsCheck ~> 9.0
nuget FParsec ~> 1.1.1
nuget FsCheck ~> 2.16
nuget FSharp.Control.AsyncSeq ~> 2.0
nuget FSharp.Core ~> 6.0
nuget FSharpPlus ~> 1.2
nuget FSharpPlus.TypeLevel ~> 1.2
nuget FSharpx.Extras ~> 3.0
nuget Microsoft.NET.Test.Sdk ~> 17.0
nuget System.CommandLine = 2.0.0-beta1.21308.1
nuget System.CommandLine.Rendering = 0.3.0-alpha.21216.1
nuget YoloDev.Expecto.TestSdk ~> 0.12
